/*
Theme Name: 2paisa.in
Theme URI: https://sudiptabelel.com/
Author: Sudipta Belel
Author URI: https://sudiptabelel.com/
Description: This is My Custom Theme
Version: 1.0
License: Private
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sudipta
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibilityready, custom-colors
*/

/* css for pagination */
.page-numbers {
    background-color: blue;
    margin: 2px;
    padding: 10px;
    color: white;
}

.menu-item {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Sofia';
    margin: 10px;
    padding: 10px;
}   